*{
    margin: 0;
    padding: 0;
}
.container{
    width: 1152px;
    margin: auto;
}

.menu{
    font-size: 20px;
    display: flex;
    justify-content: flex-end;
}

ul{
    margin-top: 20px;
}
ul li {
    display: inline;
    margin-right: 35px;
    margin-top: 35px;
}

.hero{
    display: flex;
    /* Membuat image ke samping */
    justify-content: space-around;
    margin-top: 100px;
}

.hero-text h1, .hero-text h4{
    margin-bottom: 20px;
    color: #0A1931;
}

.hero-text{
    width: 500px;
}

.hero-text h1{
    font-size: 44px;
    font-weight: bold;
    line-height: 60px;
}

.hero-text h4{
    font-size: 16px;
    font-weight: 300px;
}

.hero-text button{
    font-size: 20px;
    color: #FFFFFF;
    background-color: blue;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.hero-image img{
    border-radius: 500px;
}

.post{
    background-color: #EDF7FA;
    display: flex;
    flex-direction: column;
    padding: 30px 70px;
}

.post-head{
    display: flex;
    justify-content: space-between;
}

.post-head h3, .feture h3{
    font-size: 22px;
    font-weight: 500;
    line-height: 60px;
}

.post-head a{
    text-decoration: none;
    color: blueviolet;
    font-size: 16px;
}

.post-body{
    display: flex;
   gap: 20px;
}

.post-body-detail{
    background-color: #FFFFFF;
    padding: 20px 25px;
}

.post-body-detail h2{
    font-size: 26px;
    font-weight: 500px;
    margin-bottom: 15px;
}

.post-body-detail span, .post-body-detail p{
    font-size: 16px;
    margin-bottom: 10px;
}

.feature{
    padding: 30px 70px;
    margin-top: 20px;
}

.feature-detail{
    display: flex;
    gap: 15px;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #E0E0E0;
}

.feature-detail h2{
    font-size: 30px;
    line-height: 60px;
    font-weight: bold;
    margin-bottom: 20px;
}

.feature-detail label:first-of-type{
    background-color: #142850 ;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600px;
    padding: 5px 10px;
    border-radius: 10px;
    margin-right: 15px;
}

.feature-detail label{
    color: #8695A4;
}

.feature-detail p{
    margin-top: 15px;
    font-size: 16px;
    color: #21243D;
    margin-top: 20px;
}

.footer{
    display: flex;
    justify-content: center;
}

.social-media {
    display: flex;
    gap: 30px;
    margin-bottom: 15px;
}
.footer .social-media img{
    justify-content: center;
    width: 30px;
}

.copyright{
    text-align: center;
    font-size: 14px;
    justify-content: center;
}


@media only screen and (max-width: 600px) {
    .container{
        width: 100%;
        margin: auto;
        padding: 0 10px;
    }

    .hero{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
    }
    .hero-image{
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .hero-text{
        width: 100%;
        text-align: center;
    }

    .hero-text button{
        margin-bottom: 10px;
    }

    .post{
        padding: 15px 35px;
    }

    .post-body{
        display: flex;
        flex-direction: column;
    }

    .feature-detail{
        display: flex;
        flex-direction: column;
    }

    .feature-detail-image img{
        width: 100%;
    }

    .menu{
        justify-content: center;
    }

    
    @media only screen and (max-width: 780px) {
    }
}
